
    .container{
        height: 90vh;
        margin: 50px;
        display: grid;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
      }





.heading{
    text-align: center;
    grid-row: 1;
    grid-column: 1/4;
    padding: 50px;
    font-family: 'Molle', cursive;
    color: rgb(255,18,19);
  }

  .text-background{
    background-color: rgb(255, 255, 6);
    text-shadow: 2px 2px rgb(63,27,9);
    border-radius: 200px;
    font-size: 25px;
    width:250px;
    margin-left: 225px;
    box-shadow: 5px 5px 15px 5px rgb(63,27,9);
  }


.JukeboxBack{
    background-image: url("JukeboxBackground.jpg");
    background-repeat: no-repeat;
    height: 495px;
    grid-column: 1/3;
    grid-row:2;
}


#advertise{
    float: right;
    grid-column: 3;
  }






/*this is the animated background*/

html, body {
    width: 100%;
    height:100%;
  }

  body {
      background: linear-gradient(-45deg, rgb(255,18,19), rgb(237,205,2), rgb(63,27,9), rgb(148,236,0));
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }



.start{
    background-color: rgb(0, 255, 55);
    color:black;
    cursor: pointer;
    font-size: 24px;
    padding: 25px 50px;
    border-radius: 25%;;
    transition-duration: 0.1s;
    align-items: center;
    margin-top: 235px;
    margin-left: 400px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);


}
.start:hover{
    background-color: #d7ffc7; /* Green */

}
.btn0{
    background-color: rgb(255, 255, 255);
    border-color: #04AA6D;
    color:rgb(0, 0, 0);
    border-width: 10px;


}
.btn1{
    background-color:white;
    border-color: #fbff00;
    color:black;
    border-width: 10px;
}
.btn0,.btn1{
    float:left;
    cursor: pointer;
    font-size: 30px;
    font-family:'Papyrus';
    font-weight:bold;
    width:50%;
    height:200px;
    border-radius: 10%;;
    transition-duration: 0.1s;
    position: relative;
    top: 60%;
    -ms-transform: translateY(90%);
    transform: translateY(90%);
}
.btn2{
    background-color: white;
    border-color: #ff0000;
    color:black;
    border-width: 10px;
}
.btn3{
    background-color:white;
    border-color: #002fff;
    color:black;
    border-width: 10px;
}
.btn2,.btn3{
    float:left;
    cursor: pointer;
    font-size: 30px;
    font-family:'Papyrus';
    font-weight:bold;
    width:50%;
    height:200px;
    border-radius: 10%;;
    transition-duration: 0.1s;
    position: relative;
    top: 60%;
    -ms-transform: translateY(90%);
    transform: translateY(90%);
}
.btn0:hover,.btn1:hover,.btn2:hover,.btn3:hover{
    background-color: #d7ffc7; /* Green */

}
.timer{
    font-size: 50px;
    position: absolute;
    left:100px;
width: 150px;
  border: 10px solid rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  color:white;
  text-align:center;
}
.score{
    font-size: 50px;
    position:absolute;
   left:1100px;
    width: 150px;
  border: 10px solid rgb(255, 208, 0);
  border-radius: 10%;
  padding: 30px;
  margin: 20px;
  color:rgb(255, 255, 255);
  text-align:center;
}
