<<<<<<< HEAD
=======
body{
  background-image: url("check.jpg");
}
>>>>>>> b71beb935fe8e77e00511a88726e0fa6d88a3082


.container{
  height: 90vh;
  margin: 50px;
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
}


.button {
  margin: 60px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color:#eae0c2;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color:#ccc2a6;
}
.button:active {
  position:relative;
  top:1px;
}




#sidebar-head{
  border: solid black;
  grid-row:1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 50px;
  margin-top: 100px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(63,27,9);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider {
  background-color: rgb(148,236,0);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(148,236,0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



#advertise{
  float: right;

}

#choose{
  border: solid black;
  padding: 50px;
  grid-column: 1/2;
  text-align: center;
  margin-top: 100px;
}

#play{
  margin-right: 200px;
}

#practice{

}

.JukeboxBack{
  background-image: url("JukeboxBackground.jpg");
  background-repeat: no-repeat;
  grid-row: 2;
  grid-column: 1/3;
  height: 495px;
}

.heading{
  border: solid black;
  text-align: center;
  grid-row: 1;
  grid-column: 1/3;
  padding: 50px;
  font-family: 'Molle', cursive;
  color: rgb(255,18,19);
}

.text{
  background-color: rgb(255, 255, 6);
  text-shadow: 2px 2px rgb(63,27,9);
  border-radius: 200px;
  font-size: 25px;
  width:250px;
  margin-left: 225px;
  box-shadow: 5px 5px 15px 5px rgb(63,27,9);
}




html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, rgb(255,18,19), rgb(237,205,2), rgb(63,27,9), rgb(148,236,0));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
